<div class="container">
<div class="jumbotron">
  <h1>Bienvenido</h1>
  <p>Luz Lorena Alvarez Trejo</p>
  <p><a href="https://es.wikipedia.org/wiki/Pinterest" type="button" class="btn btn-default glyphicon glyphicon-record " >Informacion</a></p>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <h2 style="color:gainsboro" >HARRY POTTER</h2>
<p style="color:gainsboro" >Harry Potter (también abreviado HP) es una serie de novelas fantásticas escrita por la autora británica J. K. Rowling,
  considerada una de las sagas más importantes de la historia. Realmente la más leída según el Libro de los récords Guiness.
  En ella se describen las aventuras del joven aprendiz de magia y hechicería Harry Potter y sus amigos Hermione Granger y Ron Weasley,
  durante los años que pasan en el Colegio Hogwarts de Magia y Hechicería. El argumento se centra en la lucha entre Harry Potter y el malvado
  mago Lord Voldemort, quien asesinó a los padres de Harry en un intento fallido de matar a Harry, para así poder acabar con la profecía
  que citaba su propia muerte. Voldemort no logra acabar con la vida de Harry Potter, pues este último, al estar protegido por el amor
  de su madre, logra protegerse, y a la vez, adquirir una relación (hablando tanto de manera mental como de poderes) con Voldemort.
  De ahí viene su cicatriz con forma de rayo (JK Rowling explicó que la forma de esta cicatriz era tan solo por su gusto a los rayos, no
  tenía nada escondido detrás)</p>
</div>

  <div class="col-md-4">
    <h2 style="color:gainsboro" >PRIMER LIBRO</h2>
<p style="color:gainsboro" >Harry Potter y la piedra filosofal (Harry Potter and the Philosopher's Stone) es el
  primer libro de la serie, fue publicado en Reino Unido el 30 de junio de 1997 y en español en marzo de 1999.
  12 Se trata de uno de los libros más vendidos de la historia, las estimaciones de sus ventas mundiales superan
  los 110 millones de copias. En la primavera de 2007, una primera edición firmada por Rowling fue subastada en Londres por £27 876.13

  En esta primera obra se introducen la mayoría de los personajes principales de la serie, así como muchos de los lugares
  donde se desarrollará la acción. Se narran los primeros pasos de Harry en el mundo de la magia, así como su primer enfrentamiento
  con Voldemort, quien en su búsqueda de la inmortalidad quiere obtener el poder de la piedra filosofal.</p>
  </div>

      <div class="col-md-4">
        <h2 style="color:gainsboro" >IMPACTO A LA SOCIEDAD</h2>
<p style="color:gainsboro" >El incremento del hábito de la lectura entre los niños y jóvenes ha sido la tendencia más destacada que se le atribuyó a Harry Potter.
  Una encuesta llevada a cabo en 2006 por Kids and Family Reading Report y Scholastic arrojó como resultados que el 51 % de los lectores de la
  serie de entre 5 y 17 años dijo que no había leído por placer anteriormente a Harry Potter, pero que después sí lo hace. Además, el estudio afirma
  que el 65 % de los niños y el 76 % de los padres declaraba que el desempeño escolar de ellos mismos o de sus hijos había mejorado desde que
  empezaron a leer los libros.52 Charlie Griffiths, director de la National Literacy Association, dijo «cualquiera que persuada a los niños a leer
  debería ser atesorado, y lo que Rowling nos ha dado con Harry Potter es por poco un milagro».53 Por su parte, el Primer Ministro británico, Gordon
  Brown, alabó a la escritora diciendo: «Creo que J. K. Rowling ha hecho más por la literatura que ningún otro ser humano».54</p>
      </div>
    </div>
<img src="https://vignette3.wikia.nocookie.net/harrypotter/images/9/9d/Harry-Potter-Wizarding-World-Weekly.jpg/revision/latest/scale-to-width-down/670?cb=20160914202759" style="width:500px"
class="img-responsive">
</div>